**/.ipynb_checkpoints
**/__pycache__
*.png
*.mp4
*.npy
*.npz
*.dae
data/*
logs/*
myconfigs/*
requirements.txt
resource.md
todo.md
requirements.txt

configs/lego.txt
.gitignore
configs/*
experiment results/data.csv
Dennis/records

